@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font: 14px/20px "Lato", Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
    height:100vh;
}

.people-list {
    background: #444753;
    width: 30%;
}

.people-list .search {
    padding: 20px;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    padding: 20px;
}

.people-list ul li {
    padding-bottom: 20px;
}

.people-list .avatar {
    float: left;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 14px 0;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about .name {
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat {
    width: 70%;
    /*background: #F2F5F8;*/
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 1px solid #f3f3f3;
    overflow-y: scroll;
    height: 90vh;
}

.chat .chat-history .message-data {
    /*margin-bottom: 10px;*/
}

.chat .chat-history .message-data-name {
    /*margin-bottom: 10px;*/
    color: #0073f1;
    font-weight: bold;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    float: right;
    font-size: 10px;
    padding-top: 1px;
}

.chat .chat-history .message {
    /*color: white;*/
    /*padding: 6px 14px;*/
    line-height: 22px;
    font-size: 14px;
    /*border-radius: 7px;*/
    margin-bottom: 15px;
    /*width: 90%;*/
    position: relative;
}

.chat .chat-history .message:after {
    /*bottom: 100%;*/
    /*left: 7%;*/
    /*border: solid transparent;*/
    /*content: " ";*/
    /*height: 0;*/
    /*width: 0;*/
    /*position: absolute;*/
    /*pointer-events: none;*/
    /*border-bottom-color: #5bb969;*/
    /*border-width: 10px;*/
    /*margin-left: -10px;*/
}

.chat .chat-history .my-message {
    /*background: #86BB71;*/
    background-image: linear-gradient(to left bottom, #86bb71, #75b96e, #62b86c, #4ab66b, #23b46c);
}

.chat .chat-history .other-message {
    /*background: #94C2ED;*/
    background-image: linear-gradient(to left bottom, #24bdc9, #08b8d5, #1bb2de, #3caae4, #5ba2e5);
}

.chat .chat-history .other-message:after {
    border-bottom-color: #00bbcf;
    left: 93%;
}

.chat .chat-message {
    /*padding: 30px;*/
    position: relative;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 5px 42px 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    resize: none;
    outline: none;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    background-image: url('./send.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 7px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    /* background: transparent; */
    border-radius: 21px;
    background-position-x: 2px;
    background-position-y: 4px;
}

.chat .chat-message button:hover {
    background-color: #e3e7ff;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



.loading_block {
    position: relative;
}
.loading_block > * {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}
.loading_block[data-loading-text]:after {
    background-position: center calc(50% - 12px);
}
.loading_block:before {
    content: ' ' attr(data-loading-text) ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 101;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -o-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    font-size: 14px;
    color: #243036;
    text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
    width: 80%;
    line-height: 1.2;
}
.loading_block:after {
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
    background-image: url(https://my.modulbank.ru/images/loading_ring_color.svg?5be265e);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    background-size: 32px 32px;
    z-index: 100;
}